<div id="add-form-container" class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Fornecedor, divulgue seu produto preenchendo o formulário</h1>
    </div>
    <div id="form-box" class="col-md-12">
      <form action="/insumos/add" method="POST">
        <div class="form-group">
          <label for="title">Nome do produto:</label>
          <input type="text" class="form-control" id="title" name="title" placeholder="Digite o nome do produto"
            required>
        </div>
        <div class="form-group">
          <label for="description">Descrição do produto:</label>
          <textarea type="text" class="form-control" id="description" name="description"
            placeholder="Descreva o produto" required></textarea>
        </div>
        <div class="form-group">
          <label for="fornecedor">Nome do fornecedor:</label>
          <input type="text" class="form-control" id="fornecedor" name="fornecedor"
            placeholder="Digite o nome de quem irá fornecer" required>
        </div>
        <div class="form-group">
          <label for="email">E-mail para contato:</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Digite o e-mail para contato"
            required>
        </div>
        <div class="form-group">
          <label for="valor_un">Valor Unitário:</label>
          <input type="number" class="form-control" id="valor_un" name="valor_un" placeholder="Digite o valor por unidade"
            required>
          <small id="titleHelp" class="form-text text-muted">Caso queira doar, digite o preço de mercado e embaixo clique em "sim"</small>
        </div>
        <div class="form-group">
          <label for="valor_un">Para doação:</label><br />
          <input type="radio" id="nao" name="doacao" value="1">
          <label for="male">Sim</label><br>
          <input type="radio" id="sim" name="doacao" value="0">
          <label for="female">Não</label><br>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
  </div>
</div>